
// ===== Menu burger ===== //

const navSlide = () => {
  const burger = document.querySelector('.burger');
  const nav = document.querySelector('.nav-links');
  const navLinks = document.querySelectorAll('.nav-links li');

  burger.addEventListener('click',() => {
    //Toggle Nav
    nav.classList.toggle('nav-active');

    //Animation Links
    navLinks.forEach((link, index) => {
      if(link.style.animation) {
        link.style.animation = '';
      } else {
          link.style.animation = `navLinkFade 0.5s ease forwards ${index / 3 + 0.5}s`;
          }
        });
    //Burger Animation
    burger.classList.toggle('toggle');
    });
}

navSlide();


// ===== Click outside close ===== //

window.addEventListener('mouseup', function(event){
  var box = document.getElementById('');
  if(event.target != box && event.target.parentNode != box) {
    box.style.display = 'none';
  }
});
